 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>DRMusic</title>
 </head>
 <body>
    <h1>DR Music</h1>
    <div id="app">
        <h1>Get All Music</h1>
        <button id="getAllButton" v-on:click="getMusics" class="btn btn-primary">Get all Music </button>
        <ul id="MusicList" v-if="Musics.length">
            <li v-for="music in Musics">
                {{music.id}}: {{music.title}}: {{music.artist}}  {{music.publicationYear}}: {{music.duration}}

            </li>

        </ul>
        <div v-else >No Music</div>

        <h2>Get by Id(Get)</h2>
        <input v-model="idToGetBy" placeholder="id" type="number"/>
        <button v-on:click="getbyId(idToGetBy)" class="btn btn-primary">Get by Id</button>
        <div v-if="Singlemusic">
            {{Singlemusic.Id}}  {{Singlemusic.title}}  {{Singlemusic.artist}}  {{Singlemusic.publicationYear}}  {{Singlemusic.duration}}

        </div>
        <div v-else> No such Music

        </div>
        <h2>Delete (Delete)</h2>
        <input v-model.number="deleteId" placeholder="id" type="number"/>
        <button v-on:click="deleteMusic(deleteId)" class="btn btn-warning">Delete</button>
        {{deletemessage}}

    </div>
    <script src="index.js"></script>
 </body>
 
 </html>
