 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>DRMusic</title>
 </head>
 <body>
    <div id="app">
        <h1>Get All Music</h1>
        <button id="getAllButton" v-on:click="getMusics" class="btn btn-primary">Get all Music </button>
        <ul id="MusicList" v-if="Musics.length">
            <li v-for="music in Musics">
                {{music.Id}}: {{music.Title}}: {{car.Artist}}

            </li>

        </ul>
        <div v-else >No Music</div>

    </div>
    <script src="index.js"></script>
 </body>
 
 </html>
